
<!doctype html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title | escape }}</title>
  <meta name="description" content="{{ page.description | default: site.description | escape }}">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  {% include katex.html %}
  {% if page.plotly %}
    {% include plotly.html %}
  {% endif %}
</head>
<body>
  {% unless page.url == "/" %}
    <header class="site-header container">
      <a class="brand" href="{{ '/' | relative_url }}">Home</a>
    </header>
  {% endunless %}
  <main class="container">
    {{ content }}
  </main>
  <footer class="site-footer container">
  </footer>
</body>
</html>
